/* ::::: http://top-novosti.net/do_bog/css/style.css ::::: */
body {
  direction: rtl;
}
.product {
  width: 210px !important;
  margin-top: 30px !important;
}
p {
  margin-top: 0;
  margin-bottom: 15px;
}
.but {
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-decoration: none;

  background: whitesmoke;
  border: 2px outset #d5d5d5;
  cursor: pointer;
}
.text-header h1,
.text-header p {
  padding-left: 430px !important;
}
.feedback-form {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  min-height: 160px;
  margin: 10px auto;
  padding: 15px 20px;

  background-color: #dedede;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.feedback-label {
  display: block;

  text-align: center;
  font-style: normal;
}

.feedback-fio,
.feedback-phone {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100% !important;
  margin: 5px auto;
  padding: 5px 10px;

  font-size: 16px;
  line-height: 30px;
  line-height: 1.1;
  color: black;

  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: none;
}

.feedback-fio:hover,
.feedback-phone:hover {
  outline: 2px solid #8e8e8e;
}

.feedback-fio:focus,
.feedback-phone:focus {
  outline: 2px solid #e38e54;
}

.feedback-btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 240px;
  margin: 5px auto;
  padding: 5px 40px;

  font-size: 16px;
  font-size: 18px;
  line-height: 30px;
  color: black;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  background-color: rgb(255, 102, 0);
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: none;
}

.feedback-btn:hover {
  color: color;

  background-color: rgb(190, 44, 3);
  cursor: pointer;

  -webkit-transition: background-color 0.8s, color 0.8s;
       -o-transition: background-color 0.8s, color 0.8s;
          transition: background-color 0.8s, color 0.8s;
}

a,
.orange {
  font-weight: bold;
  color: rgb(255, 102, 0);
}

.prod-fixed .feedback-form {
  width: 94%;
}

.prod-fixed {
  width: 261px;
}
.button-go {
  display: block;
  max-width: 240px;
  height: 38px;
  margin: auto;
  padding: 0 30px;

  font-weight: bold;
  font-size: 20px;
  line-height: 38px;
  vertical-align: top;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background: rgba(7, 115, 41, 1);
  background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(7, 115, 41, 1)), color-stop(40%, rgba(19, 148, 45, 1)), color-stop(100%, rgba(52, 233, 56, 1)));
  background: -webkit-linear-gradient(top, rgba(7, 115, 41, 1) 17%, rgba(19, 148, 45, 1) 40%, rgba(52, 233, 56, 1) 100%);
  background:      -o-linear-gradient(top, rgba(7, 115, 41, 1) 17%, rgba(19, 148, 45, 1) 40%, rgba(52, 233, 56, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, rgba(7, 115, 41, 1)), color-stop(40%, rgba(19, 148, 45, 1)), to(rgba(52, 233, 56, 1)));
  background:         linear-gradient(to bottom, rgba(7, 115, 41, 1) 17%, rgba(19, 148, 45, 1) 40%, rgba(52, 233, 56, 1) 100%);
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#077329', endColorstr='#34e938', GradientType=0);
}

.big-btn {
  width: 300px;
  height: 40px;

  font-size: 24px;
  line-height: 40px;
}

.button-go:hover {
  background: rgba(246, 41, 12, 1);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 41, 12, 1)), color-stop(0%, rgba(240, 47, 23, 1)), color-stop(0%, rgba(241, 111, 92, 1)), color-stop(0%, rgba(52, 233, 56, 1)), color-stop(28%, rgba(35, 187, 50, 1)), color-stop(72%, rgba(7, 115, 41, 1)));
  background: -webkit-linear-gradient(top, rgba(246, 41, 12, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(52, 233, 56, 1) 0%, rgba(35, 187, 50, 1) 28%, rgba(7, 115, 41, 1) 72%);
  background:      -o-linear-gradient(top, rgba(246, 41, 12, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(52, 233, 56, 1) 0%, rgba(35, 187, 50, 1) 28%, rgba(7, 115, 41, 1) 72%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 41, 12, 1)), color-stop(0%, rgba(240, 47, 23, 1)), color-stop(0%, rgba(241, 111, 92, 1)), color-stop(0%, rgba(52, 233, 56, 1)), color-stop(28%, rgba(35, 187, 50, 1)), color-stop(72%, rgba(7, 115, 41, 1)));
  background:         linear-gradient(to bottom, rgba(246, 41, 12, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(52, 233, 56, 1) 0%, rgba(35, 187, 50, 1) 28%, rgba(7, 115, 41, 1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6290c', endColorstr='#077329', GradientType=0);
}

@media screen and  (max-width: 720px) {
  .feedback-form {
    width: 90%;
  }

  .content {
    padding-top: 5px;
  }

  .header-logo1 {
    display: none;
  }

  .header-logo2 {
    width: 35%;
  }

  div.conContent {
    /* display: none; */
    padding-bottom: 5px;
  }

  div.text-header {
    padding-top: 5px;

    font-size: 12px;
  }
}

.comm-btn {
  width: 380px !important;
}

@media screen and  (max-width: 600px) {
  .comm-btn {
    width: 240px !important;
  }
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;

  vertical-align: top;

  background: transparent none repeat scroll 0 0;
  border: 0 none;
  outline: 0 none;
}

body {
  line-height: 1;
}

img,
table {
  max-width: 100%;
}


a:hover {
  text-decoration: none;
}

body {
  display: block;

  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 10px;

  background-color: rgb(241, 241, 241);
  background-position: center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

div.conContent {
  display: inline;
  width: 100%;
  padding: 10px 0 0;

  font-size: 18px;
  text-align: center;
}

.images-logo {
  display: block;
}

.images-logo img {
  float: left;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}

.images-logo img:last-child {
  width: 130px;
  padding-top: 25px;
}

div.text-header {
  display: block;
  padding-top: 15px;

  text-align: center;
}

div.text-header p {
  padding-top: 10px;
}

.container {
  position: relative;

  width: 990px;
  margin: 0 auto;
}

.content {
  margin: 0 0 15px;
  padding: 20px;
  overflow: hidden;

  background: rgb(255, 255, 255) none repeat scroll 0 0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgb(230, 230, 230);
          box-shadow: 0 0 10px rgb(230, 230, 230);
}

.sidebar {
  position: relative;
  top: -47px;

  float: right;

  font-size: 14px;
  line-height: 1.2;

  border: 1px solid rgb(225, 225, 225);
}

.itemfirst {
  float: left;
  width: 249px;
  padding: 12px;

  background: rgb(241, 241, 241) none repeat scroll 0 0;
}

.sidebar .author {
  padding: 0 0 15px;
  overflow: hidden;
}

.sidebar .author h3 {
  margin: 0;
  margin-bottom: 20px;

  text-align: right;
  text-decoration: underline;
}

.sidebar .author img {
  float: right;
}

.sidebar .author ul {
  position: relative;

  margin: 0;
  padding: 0 0 0 15px;
  overflow: hidden;

  font-weight: bold;
}

.text {
  float: right;
  width: 655px;
  padding: 0 0 0 15px;

  font-size: 15px;
  line-height: 1.2;
}

.content h1 {
  width: 655px;
  margin: 0 0 25px;

  font-size: 28px;
  text-align: right;
}

.content h3 {
  margin: 15px 0 10px;

  font-size: 17px;
}

.content .text3 p {
  margin: 0 0 5px;
  padding-right: 60px;

  font-weight: 400;
}
.content .date {
  padding-right: 60px;
}
.content img {
  display: block;
  margin: 5px 0;
}

.text3 img {
  margin: 5px 0 0;
}

input[type="text"] {
  width: 376px;
}



#comments h1 {
  margin: 40px 0 5px;

  color: rgb(204, 0, 0);
}

.comment {
  padding: 5px 0 10px;

  border-top: 1px solid rgb(232, 232, 232);
}
.commant::after,
.comment .text3::after {
  content: "";

  display: table;
  clear: both;
}
.comment .text1 {
  display: block;

  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
.comment .text1 a {
	color: inherit;
	text-decoration: none;
}
.comment .text3 {
  font-size: 13px;
}
.comment .text3>a img {
	width: 100%;
}
.footer {
  margin: 0 0 25px;
  padding: 15px;

  font-size: 12px;
  text-align: center;
  color: rgb(119, 119, 119);

  background: rgb(255, 255, 255) none repeat scroll 0 0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .content h1 {
    width: auto;
  }

  .container {
    width: 95%;
  }

  .text {
    float: none;
    width: auto;
    padding: 0;
  }
  .comment:not(.mobile) {
    display: none;
  }
}
@media(max-width:900px) {
  .text-header h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .text-header h1,
  .text-header p {
    padding-left: 0 !important;
  }
  .text p,
  .content h3,
  .text3,
  .comment {
    text-align: right;
  }
  .content img {
    margin: 15px 0;
  }
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .content h1 {
    width: auto;

    font-size: 22px;
  }

  input[type="text"] {
    width: 100% !important;
  }

  textarea {
    width: 100%;
  }
}

@media screen and (max-width: 319px) {
}

@media screen and (max-width: 768px) {
  .images-logo img {
    float: none;
  }
}

@media screen and (max-width: 468px) {
  .images-logo img {
    float: none;
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}

.test {
  display: none;

  font-size: 16px;
  line-height: 24px;
  text-align: center !important;
}

#num {
  text-align: center;
}

select {
  padding: 5px 10px;

  font-size: 16px;
}

.tbtn {
  padding: 6px 10px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;

  cursor: pointer;

  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}
.tbtn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.aside {
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.sidebar::after,
.sidebar .itemfirst::after {
  content: "";

  display: table;
  clear: both;
}
.sidebar .itemfirst {
  width: 260px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.yellow-box {
  margin: 20px 0;
  padding: 20px;

  background: rgb(255, 255, 102) none repeat scroll 0 0;
  border: 1px dotted;
}
.yellow-box .red {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;

  font-weight: bold;
  color: white;

  background: red none repeat scroll 0 0;
}
.yellow-box .red .orange {
  color: #ffffff;
}
.yellow-box .red a {
  color: #ffffff;
}
.prod-link {
  display: block;
  width: 210px;
  margin: auto;
  margin-bottom: 20px;
}
.product {
  max-width: 300px;
  margin-top: -40px;
}
.button-go {
  margin-bottom: 15px;
}
.aside-list li {
  margin-bottom: 10px;
}
.form-row {
  margin-bottom: 20px;
}
.form-row label,
.form-row input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.date {
  font-size: 12px;
  color: #9e9e9e;
}
.content .date.header-date {
  margin-right: 0;
  margin-bottom: 5px;
  padding-right: 0;
}
#feedback {
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}
.but {
  margin: 10px 0;
  padding: 5px;
}
.doctor-answer {
  color: rgb(180, 4, 4);
}
.text3 > a {
  float: right;
  width: 50px;
  height: 50px;
  margin: 0 !important;
  padding-left: 10px;
}
.res,
.test {
  margin-bottom: 15px;
}
#sale {
  margin-top: 15px;
}
#timer {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 24px;
}
#timer p {
  width: 150px;
}
#timer span.small {
  display: block;

  font-size: 16px;
  line-height: 1.1;
}
.res p {
  margin-bottom: 0;
}
.img1 {
  float: left;
  padding-right: 10px;
}
.img3 {
  float: left;
  max-width: 270px !important;
  padding-right: 15px;
}
.img4 {
  float: right;
  padding-left: 15px;
}
.img5 {
  display: block;
  margin: auto !important;
}
@media(max-width:600px) {
  .img1,
  .img3,
  .img4 {
    display: block;
    float: none;
    margin: auto !important;
    padding-right: 0;
  }
  h1 {
    font-size: 30px;
  }
  .header-doc {
    max-width: 150px !important;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }
}
#hres {
  margin-bottom: 15px;
}
select {
  width: 100%;
  max-width: 230px;

  border: 0;
}
.feedback-form select {
  max-width: none;
}
#feedback {
  text-align: center;
}
#feedback select,
#feedback input {
  width: 100%;
  max-width: none;
  min-height: 30px;

  border: 1px solid #a9a9a9;
}
button {
  cursor: pointer;
}
input[name="phone"] {
  text-align: right;
  direction: ltr;
}
.js_errorMessage {
  direction: ltr;
}

.remark {
  margin: 50px auto 30px;

  font-weight: bold;
  font-size: 18px;
  text-align: center;
  direction: rtl;
  color: rgb(255, 102, 0);
}
  .ramadanAction {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #000;
    padding: 0 15px;
    margin: 10px 0 15px;
}